

.login-image-container{
  @apply flex flex-col h-full;
  :nth-of-type(2){
    flex: 1 1 100%;
    @apply flex  items-center
  }
  :nth-of-type(1){
    @apply p-4 
  }
}
.login-form-container{
  @apply flex h-full items-center;
}
.landing-container{
  @apply  h-auto lg:h-[100vh] overflow-auto lg:overflow-hidden 
}
.input-form{
  @apply flex items-center w-full py-3 px-3 rounded-md mb-4 border-2 border-lengsqr-300/30;
  font-family: 'Lato', sans-serif ;
  input{
    flex: 1 1 100%
  }
  button{
    @apply px-2 text-[13px] text-lengsqr-300 font-bold
  }
}
.header-form{
  font-family: 'Inter Tight', sans-serif;
}
.header-label{
  font-family: 'Lato', sans-serif !important;
}
.forgot-label{
  font-family: 'Lato', sans-serif;
}
 input:invalid .input-form{
  background-color: red !important;
 }
 .landing-down{
    position: relative;
    top:-80%;
    opacity: 0;
    transition: 1s;
 }

