$font-stack: rgb(18 113 227);
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400&display=swap');

.landing-container{
    @apply w-full flex justify-center px-0; 
}
.nav-bar-container{
    @apply max-w-7xl w-full flex items-center flex-wrap px-3;
}
.nav-container{
    @apply flex items-center p-3 w-full;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300
}
.top-nav-search{
    @apply w-80 flex items-center  border-[1.7px] border-lengsqr-300/60 rounded-md;
    input{
      flex: 1 1 100%;
      @apply text-[13px] pl-2
    }
    button{
     @apply w-12 bg-lengsqr-300 py-[8px] grid place-items-center scale-[105%];
     border-radius: 0 5px 5px 0;
    }
}
.side-nav-container{
    font-family: 'Inter Tight', sans-serif;
}

