@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@import 'dashboard';
@import 'tailwind';
@import 'navbar';

$font-stack: rgb(18 113 227);

::selection {
  background: #39cdcc;
  color: white;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-scelloo-300/50 rounded-full h-1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-areas:
    'header header menu menu main main main main right right right right footer more last'
    'base base base base base base base base base base base base base base base';
  gap: 10px;
  border-top: 1px solid rgb(221, 211, 211);
  padding-top: 1em;
  align-items: center;
}
.grid > div {
  padding: 5px 0;
}
.item1 {
  width:calc(14% - 48px)
}
.item2 {
  width:20%
}
.item3 {
  width:24%
}
.item4 {
  width:12%
}
.item5 {
  width:15%
}
.item6 {
  width:9%
}
.item7 {
  width:calc(6% - 48px)
}
.item-base {
  width:100%
}
.inter {
  font-family: 'Roboto', sans-serif !important;
}
.user-content-detail {
  @apply flex items-center text-scelloo-500 font-[500] text-[15px] border-t-[1px] border-[rgb(221,211,211)] py-3;
}
.user-content-header {
  @apply flex items-center text-scelloo-500 font-[600] text-[15px] border-t-[1px] border-[rgb(221,211,211)] py-4;
}
.filter-box{
  @apply border-[1px] border-scelloo-500 px-3 py-1 inline-flex items-center text-scelloo-500 font-[400] text-[17px]
rounded-md cursor-pointer
}
.search-form{
  @apply flex items-center bg-scelloo-50 px-3 py-2 sm:min-w-[300px] md:min-w-[400px] w-auto rounded-md;
    input{
       flex:1 1 100%;
       @apply outline-none text-[15px] text-scelloo-500 bg-transparent;
    }
}
.dropdown-toggle::after{
  content: "";
  display: none !important;
}
.dropdown-toggle{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.pay-dues{
  @apply text-sm w-full sm:w-auto sm:absolute right-8 
  text-center mt-3 sm:mt-0
  uppercase py-2 text-white font-[500] px-2 bg-scelloo-300 rounded cursor-pointer;
  transform: -50%;
}
 .chakra-menu__icon-wrapper{
  display: none !important;
}
.filter-item{
  @apply w-full flex text-[13px] items-center inter;
  abbr{
    flex: 1 1 100%;
  }
}
.dropdown-item{
  font-size: 13px !important;
  font-weight: 500;
}