
@import 'landing';
@import 'dashboard';
@import 'tailwind';
@import 'fontFace';
@import 'navbar';

$font-stack: rgb(18 113 227);


html, body{
    overflow-x: hidden !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar{
    display: none;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
    height:5px
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-lengsqr-300/50 rounded-full h-1;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.container{
    width: 90%;
}
.dropdown-toggle::after{
    content:"";
    display: none !important;
}

.about{
    font-size: 2em;
    font-weight: 700;
}
.top-nav{
    padding: 1em;
    width: 100%;
    background-color: teal;
    color:white;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 700;
}
.input-calc{
    margin: 0.5em;
    border: 1px solid teal;
    outline:none
}
.navlink{
    width: 100%;
    background-color: aqua;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    margin: 1em 0;
    color: inherit;
}
.blue{
    color: green;
}
.red{
    color: red;
}
.response{
    width:100%
}
.animate-spin{
    animation: 1s infinite linear spin;
}
@keyframes spin {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
input{
    outline: none
}
.main-body-section{
    
}
.hide-scrollbar{
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.native-font{
    font-family: 'Inter Tight', sans-serif;
}
.dropdown-menu{
    border: none !important;
    box-shadow: 4px 10px 10px -3px rgba(165, 161, 161, 0.15), 0 4px 6px -4px rgb(97, 94, 94, 0.05),
     0 4px 6px 4px rgb(0 0 0 / 0.1)
}
.dropdown-toggle{
   padding: 0 !important;
}
a{
    text-decoration: none !important;
    color: initial !important
}
.dropdown-item:active{
    background: rgb(57 205 204 / 0.5) !important;
}
  
.display-text{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: none;
    -webkit-text-clip: text;
    animation:5s linear infinite reverse flow-out;background-size:200%;background-position:left;
    background-image: linear-gradient(45deg,#213F7D 43%,white 45%, white 45.5%, rgb(158 158 158) 47%);
     animation-direction:alternate;
     background-clip:text;-webkit-background-clip:text;
     color:transparent
}
@keyframes flow-out {
   from{
     background-position:left
   }
   to{
     background-position:right
   }
}